<div class="flex items-center justify-between mb-8">
  <div class="min-w-0 flex-1">
     {{> h1 title="Firefly API Results"}}
  </div>
  <div class="mt-4 flex md:ml-4 md:mt-0">
    {{> button link="https://developer.adobe.com/firefly-services/docs/firefly-api/" title="API Docs"}}
  </div>
</div>